$primary-color:#222;
$primary-color-100:#267dff4d;
$primary-color-contrast:#fff;
$secondary-color:#00c6ca;
$black-color:#444;
$gray-color-100:#f9f9f9;
$gray-color-200:#e3e3e3;
$gray-color-300:#aaa;
$font-family-bold:'poppinsbold';
$red-color:#E30D2A;
$yellow-color:#E29E19;
$black-color:#000;
$white-color:#fff;
